/* general styles */

html, body {
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
 #video-landing {
  height: 650px;
  position: relative;
  overflow-y: hidden;
  color: white;
}
#video-landing video {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: -200px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
}

#video-landing 
  h1{
  font-size: 3em; 
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;

  }
  h3 {
  position: absolute;
  top: 65%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
  }
  .btn-default{
    position: absolute;
    top: 500px;
  }


/* additional sections */

#home {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#about { 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#services {
  background-color: #306d9f;
  color: #ffffff;
}

#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}
#community_forum {
  background: url(../images/cfbg.jpg) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#services .panel {
  opacity: 0.85;
}
#contact {
  background: url(../images/contactbg.jpg) no-repeat center center fixed;
  height: 500px;
}
footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}